<body>
  <!-- START nav -->
  <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
    <div class="container">
      <a class="navbar-brand" href="/"><img src="/images/logo.png" height="75px"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="oi oi-menu"></span> Menu
      </button>

      <div class="collapse navbar-collapse" id="ftco-nav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
          <li class="nav-item active"><a href="/about" class="nav-link">About</a></li>
          <li class="nav-item"><a href="/science" class="nav-link">The Science</a></li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="/gallery" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Explore</a>
              <div class="dropdown-menu" aria-labelledby="dropdown04">
                <a class="dropdown-item" href="/map">Map</a>
                <a class="dropdown-item" href="/gallery">Gallery</a>
              </div>
          </li>
          <li class="nav-item"><a href="/upload" class="nav-link">Upload</a></li>
          <li class="nav-item"><a href="/case-studies" class="nav-link">Case Studies</a></li>
          <li class="nav-item cta"><a href="mailto:huckley@gmail.com" class="nav-link"><span>Get in touch</span></a></li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- END nav -->
    
  <!-- START headline -->
  <div class="hero-wrap js-fullheight">
    <div class="overlay">
      <div class="butterfly">
        <div class="body-butterfly"><img src="http://fjordstudio.dk/assets/img/butterfly-parts/butterfly3-body.png"></div>
        <div class="leftwing"><img src="http://fjordstudio.dk/assets/img/butterfly-parts/butterfly3-leftwing.png"></div>
        <div class="rightwing"><img src="http://fjordstudio.dk/assets/img/butterfly-parts/butterfly3-rightwing.png"></div>
      </div>
    </div>
    <div class="container">
      <div class="row no-gutters slider-text align-items-center justify-content-center" data-scrollax-parent="true">
        <div class="col-md-4"></div>
        <div class="col-md-8 ftco-animate text-center" data-scrollax=" properties: { translateY: '70%' }">
          <h1 class="mb-4" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><b>What impact will X°C climate warming have on animals and ecosystems?</b></h1>
        </div>
      </div>
    </div>
  </div>
  <!-- END headline -->
  
  <!-- START trench -->
  <div class="bg-light">
    <section class="ftco-section-featured ftco-section-featured-2 ftco-animate">
      <div class="container-fluid" data-scrollax-parent="true">
        <div class="row mt-5 d-flex justify-content-center">
          <div class="col-md-8 text-center heading-section ftco-animate">
            <h2 class="h1">TrEnCh: Translating <strong class="px-3">Environmental Change</strong> into <strong class="px-3">organismal responses.</strong></h2>
            <p>Our goal is to build case studies of how animals are impacted by climate change to improve our approach to climate change biology education, policy, and research.</p>
            <p><a href="https://www.trenchproject.com/about" class="btn btn-primary mt-3 py-3 px-5">More Informtion</a></p>
          </div>
        </div>
      </div>
    </section>
  </div>
  <!-- END trench -->

 <!-- START seeing the world -->
  <section class="ftco-section-parallax">
    <div class="parallax-img d-flex align-items-center">
      <div class="container">
        <div class="row d-flex justify-content-center">
          <div class="col-md-12 text-center heading-section heading-section-white ftco-animate">
            <header>
              <h2 class="h1">Seeing the world from a thermal perspective</h2>
            </header>
            <p>Infrared imagery offers a unique opportunity to see biophysical properties in real time. We can watch organisms heat up, cool down, and generally transfer heat back and forth throughout their environment. In the TrEnCh Project, we use infrared imagery to help people see the world from a thermal perspective because we believe it’s an intuitive first step to understanding microclimate and the impacts of warming.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
 <!-- END seeing the world -->

 <!-- START pillars -->
    <section class="ftco-section">
      <div class="container">
        <div class="row justify-content-center mb-5 pb-5">
          <div class="col-md-6 text-center heading-section ftco-animate">
            <h2 class="mb-10">TrEnCh-IR Pillars:</p>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-md-6 col-lg-3 d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services d-block text-center">
              <div class="d-flex justify-content-center"><div class="icon color-1 d-flex justify-content-center mb-3"><span class="align-self-center icon-gear"></span></div></div>
              <div class="media-body p-2 mt-3">
                <h3 class="heading">Conversion</h3>
                <p>Free, unlimited conversion of FLIR JPGs to access raw thermal images, embedded images, thermal parameters, and color palettes.</p>
                <p><a href="upload.html" class="btn btn-primary mt-2 py-2 px-4">Upload a thermal image</a></p>
              </div>
            </div>      
          </div>
          <div class="col-md-6 col-lg-3 d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services d-block text-center">
              <div class="d-flex justify-content-center"><div class="icon color-1 d-flex justify-content-center mb-3"><span class="align-self-center icon-laptop"></span></div></div>
              <div class="media-body p-2 mt-3">
                <h3 class="heading">Storage</h3>
                <p>Maintain an easy-access thermal image repository for use in education, research, and all other capacities.</p>
                <p><a href="gallery.html" class="btn btn-primary mt-2 py-2 px-4">Explore our gallery</a></p>
              </div>
            </div>    
          </div>
          <div class="col-md-6 col-lg-3 d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services d-block text-center">
              <div class="d-flex justify-content-center"><div class="icon color-1 d-flex justify-content-center mb-3"><span class="align-self-center icon-live_help"></span></div></div>
              <div class="media-body p-2 mt-3">
                <h3 class="heading">Eduation</h3>
                <p>Provide open-access educational resources describe the processes behind thermoregulation and cutting-edge thermal ecology research.</p>
                <p><a href="science.html" class="btn btn-primary mt-2 py-2 px-4">Explore the science</a></p>
              </div>
            </div>      
          </div>
        </div>
      </div>
    </section>
    <!-- END pillars -->

  <!-- START team -->
  <div class="ftco-section bg-light">
    <div class="container">
      <div class="row justify-content-center mb-5 pb-5">
        <div class="col-md-7 text-center heading-section ftco-animate">
          <span class="subheading">Team</span>
          <h2 class="mb-4">Our Team</h2>
          <p>Site development based with University of Washington, in the Department of Biology. We are funded by <a href="https://www.microsoft.com/en-us/ai/ai-for-earth">AI for Earth</a>, a Microsoft initiative.</p>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-3 mb-5 ftco-animate">
          <div class="block-10">
            <div class="person-info mb-2">
              <span class="name">Lauren Buckley</span>
              <span class="position">Project Lead</span>
              <span class="position">UW Professor</span>
            </div>
            <img src="/images/person_1.jpg" alt="" class="img-fluid mb-3">
          </div>
        </div>
        <div class="col-md-3 mb-5 ftco-animate">
          <div class="block-10">
            <div class="person-info mb-2">
              <span class="name"><a href="mailto:avmey$uw.edu">Abigail Meyer</a></span>
              <span class="position">Lead Developer and Contact</span>
              <span class="position">UW Research Scientist</span>
            </div>
            <img src="/images/person_2.jpg" alt="" class="img-fluid mb-3">
          </div>
        </div>
        <div class="col-md-3 mb-5 ftco-animate">
          <div class="block-10">
            <div class="person-info mb-2">
              <span class="name">Glenn Tattersall</span>
              <span class="position">Thermal Ecologist</span>
              <span class="position">Brock University Professor</span>
            </div>
            <img src="/images/person_3.jpg" alt="" class="img-fluid mb-3">
          </div>
        </div>
        <div class="col-md-3 mb-5 ftco-animate">
          <div class="block-10">
            <div class="person-info mb-2">
              <span class="name">Issac Caruso</span>
              <span class="position">Developer</span>
              <span class="position">UMass Amherst</span>
            </div>
            <img src="/images/person_4.jpg" alt="" class="img-fluid mb-3">
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- END team -->
</body>
