<body>
  <!-- START nav -->
  <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
    <div class="container">
      <a class="navbar-brand" href="/"><img src="/images/logo.png" height="75px"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="oi oi-menu"></span> Menu
      </button>

      <div class="collapse navbar-collapse" id="ftco-nav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
          <li class="nav-item"><a href="/about" class="nav-link">About</a></li>
          <li class="nav-item"><a href="/science" class="nav-link">The Science</a></li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="/gallery" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Explore</a>
              <div class="dropdown-menu" aria-labelledby="dropdown04">
                <a class="dropdown-item" href="/map">Map</a>
                <a class="dropdown-item" href="/gallery">Gallery</a>
              </div>
          </li>
          <li class="nav-item"><a href="/upload" class="nav-link">Upload</a></li>
          <li class="nav-item active dropdown">
            <a class="nav-link active dropdown-toggle" href="/case-studies" id="dropdown05" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Educational Resources</a>
            <div class="dropdown-menu" aria-labelledby="dropdown04">
              <a class="dropdown-item" href="/king-penguins">Case Study: King Penguins</a>
              <a class="dropdown-item" href="/koalas">Case Study: Koalas</a>
            </div>
          </li>
          <li class="nav-item cta"><a href="mailto:huckley@gmail.com" class="nav-link"><span>Get in touch</span></a></li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- END nav -->
    
	<!-- START headline -->
  <div class="hero-wrap">
    <div class="overlay" style="height: 20%;"></div>
  </div>
  <!-- END headline -->
  
  <section class="ftco-section">
    <div class="container" style="height: 20%; margin-top:70px;">
      <div class="row">
        <div class="d-md-flex ftco-animate" data-scrollax-parent="true">
          <div class="col">
            <img src="images/case_study_1.jpg" style="width: 100%; height: auto;" data-scrollax=" properties: { translateY: '-20%'}"></a>
          </div>
          <div class="text col">
            <h4 class="subheading" style="font-size: 13px; text-transform: uppercase; letter-spacing: .1em; color: #c0c0c3;">Case Study 1</h4>
            <h2 class="heading">Mussels and Sea Stars</a></h2>
            <p>Photo credit: Brian Helmuth</p>
            <p>While the mussels and sea stars are settled in the same environment, from this 
              thermal image we can see a great temperature discrepancy between these two species. 
              The discrepancy alters how mussels and sea stars interact. Why is this? Sea stars 
              are colored lighter than mussels, which absorbs less solar radiation and keeps 
              them cooler. Their different physical properties also alter heating rates. The 
              thermal image captures how  mussels and sea stars differently experience their 
              environment, which might otherwise be missed.</p>
          </div>
        </div>
        <div class="block-3 d-md-flex ftco-animate" data-scrollax-parent="true">
          <a href="images/case_study_2.jpg" class="image image-2 order-2" style="background-image: url('images/case_study_2.jpg');" data-scrollax=" properties: { translateY: '-20%'}"></a>
          <div class="text order-1">
            <h4 class="subheading">Case Study 2</h4>
            <h2 class="heading"><a href="https://besjournals.onlinelibrary.wiley.com/doi/full/10.1111/1365-2435.12990">
            Darwin’s finches use their bills as heat radiators too!</a></h2>
            <p>Glenn J. Tattersall, Jaime A. Chaves, Raymond M. Danner</p>
            <p>Bird bills are important for feeding, but recent research has shown that the bird
              bill can also act like a radiator to help release extra body heat. We studied this
              idea in Darwin’s finches, which have been the source of transformative findings 
              about the evolution of animals. Scientists have found strong evidence in Darwin’s 
              finches that birds’ bills have evolved to help eat different types of foods, and 
              as a result have a wide array of bill shapes and sizes. To study the heat radiator 
              function of the bill, we used hand-held thermal imaging cameras to take thermal 
              images of surface temperatures of four species of Darwin’s finches in the wild, 
              under a variety of weather conditions. We found evidence finch bills are effective 
              heat radiators in hot weather. Further, finches can modify how much heat is lost 
              from their bills, which may help them maintain optimal body temperature in a variety 
              of weather conditions. Species differed in their use of the bill for heat loss, and 
              heat loss patterns matched the microclimates they used. These results highlight the 
              role of bird bills in thermoregulation and suggest that bill size in this system 
              might be shaped, at least partially, by its function as a heat radiator.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <script>function initMap() {};</script>
</body>