<body>
  <!-- START nav -->
  <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
    <div class="container">
      <a class="navbar-brand" href="/"><img src="/images/logo.png" height="75px"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="oi oi-menu"></span> Menu
      </button>

      <div class="collapse navbar-collapse" id="ftco-nav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
          <li class="nav-item"><a href="/about" class="nav-link">About</a></li>
          <li class="nav-item"><a href="/science" class="nav-link">The Science</a></li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="/gallery" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Explore</a>
              <div class="dropdown-menu" aria-labelledby="dropdown04">
                <a class="dropdown-item" href="/map">Map</a>
                <a class="dropdown-item" href="/gallery">Gallery</a>
              </div>
          </li>
          <li class="nav-item"><a href="/upload" class="nav-link">Upload</a></li>
          <li class="nav-item active"><a href="/case-studies" class="nav-link">Case Studies</a></li>
          <li class="nav-item cta"><a href="mailto:huckley@gmail.com" class="nav-link"><span>Get in touch</span></a></li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- END nav -->
    
	<!-- START headline -->
  <div class="hero-wrap js-fullheight">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" style="max-width: 100%; max-height: 100vh; margin: auto; overflow: hidden;" >
        <div class="carousel-item active">
          <img class="d-block w-100" style="width: 100vh;" src="images/carousel_1.jpg" alt="First slide">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" style="width: 100vh;" src="images/carousel_2.jpg" alt="Second slide">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" style="width: 100vh;" src="images/carousel_3.jpg" alt="Third slide">
        </div>
      </div>
      <div class="row no-gutters slider-text align-items-center justify-content-center" data-scrollax-parent="true">
        <div class="col-md-10 ftco-animate text-center" data-scrollax=" properties: { translateY: '70%' }">
          <h1 class="mb-4" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><b>Case Studies</b></h1>
        </div>
      </div>
    </div>
  </div>
  <!-- END headline -->
  
  <section class="ftco-section">
    <div class="container">
      <div class="row no-gutters justify-content-center mb-5 pb-5">
        <div class="col-md-7 text-center heading-section ftco-animate">
          <h2 class="mb-4">View our case studies below</h2>
          <p>Thermal imaging allows us greater insight into the heat envionment of organisms and ecosystems.</p>
        </div>
      </div>
      <div class="row">
        <div class="d-md-flex ftco-animate" data-scrollax-parent="true">
          <div class="col">
            <img src="images/case_study_1.jpg" style="width: 100%; height: auto;" data-scrollax=" properties: { translateY: '-20%'}"></a>
          </div>
          <div class="text col">
            <h4 class="subheading">Case Study 1</h4>
            <h2 class="heading">Mussels and Sea Stars</a></h2>
            <p>While the mussels and sea stars are settled in the same environment, 
              from this thermal image we can see a great temperature discrepancy 
              between these two species. Why is this? Sea stars are colored lighter 
              than mussels, which absorbs less solar radiation and keeps them cooler. 
              The thermal image enables the researchers to capture this difference to
              provide accurate environmental conditions that mussels and sea stars
              experience, which might otherwise be missed.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>