<head>
  <meta name="description" content="King penguin thermoregulation education">
</head>

<body>
  <!-- START nav -->
  <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
    <div class="container">
      <a class="navbar-brand" href="/"><img src="/images/logo.png" height="75px"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="oi oi-menu"></span> Menu
      </button>

      <div class="collapse navbar-collapse" id="ftco-nav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
          <li class="nav-item"><a href="/about" class="nav-link">About</a></li>
          <li class="nav-item"><a href="/science" class="nav-link">The Science</a></li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="/gallery" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Explore</a>
              <div class="dropdown-menu" aria-labelledby="dropdown04">
                <a class="dropdown-item" href="/map">Map</a>
                <a class="dropdown-item" href="/gallery">Gallery</a>
              </div>
          </li>
          <li class="nav-item"><a href="/upload" class="nav-link">Upload</a></li>
          <li class="nav-item active dropdown">
            <a class="nav-link dropdown-toggle" href="/case-studies" id="dropdown05" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Educational Resources</a>
            <div class="dropdown-menu" aria-labelledby="dropdown04">
              <a class="dropdown-item" href="/king-penguins">Case Study: King Penguins</a>
            </div>
          </li>
          <li class="nav-item cta"><a href="mailto:huckley@gmail.com" class="nav-link"><span>Get in touch</span></a></li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- END nav -->
    
  <!-- START headline -->
  <div class="hero-wrap js-fullheight">
    <div class="overlay">
    </div>
    <div class="container">
      <div class="row no-gutters slider-text align-items-center justify-content-center" data-scrollax-parent="true">
        <div class="col-md-8 ftco-animate text-center" data-scrollax=" properties: { translateY: '70%' }">
          <h1 class="mb-4" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><b>Case Study: King Penguins</b></h1>
          <p style="color: white;">Adapted from <u><a style="color: white;" href="https://link.springer.com/article/10.1007/s00360-020-01294-1">Lewden, A., Nord, A., Bonnet, B. et al. 2020</a></u></p>
        </div>
      </div>
      <div class="arrow"></div>
    </div>
  </div>
  <!-- END headline -->
  
  <section class="ftco-section-featured ftco-section-featured-2 ftco-animate">
      <div class="container-fluid" data-scrollax-parent="true">
        <div class="row d-flex justify-content-center">
          <div class="col-md-10 text-center heading-section ftco-animate">
            <p><img src="/images/king-penguins-header.jpg" style="width:50%;"></p>
            <br>
            <header>
              <h2 class="h1">Thermoregulation of King Penguins: A Background</h2>
            </header>
            <p>King penguins (Aptenodytes patagonicus) live in extreme environments. However, they are able to maintain surprisingly high core temperatures on dry land (~37 degrees Celcius), especially compared to at sea. This is because air has a lower thermal condictivity than water, meaning that you cool down or warm up quicker in water than in the air. As well, air temperatures are often higher than water temperatures in the penguin's environment.</p>
            <p>From these insights, we know king penguins are most thermally stressed (cold) when in the water on their foraging excursions. How can they survive these harsh temperatures? Many sea mammals stay warm with thick fur (pelage) or fat on their main body. However, their appendages are more exposed: their feet are naked and their flippers have little fat and only short feathers. King penguins are adapted to let their appendages (fins and feet) remain colder than their main body. King penguins undergo a process called <i>vasoconstriction</i>, in which they massively reduce the amount of blood flowing through their appendages, reducing heat exchange between their appendages and main body. This way, a penguin's cold feet and flippers don't send much cold blood back to their trunk, which would cool down their core temperature. King penguin veins are also structured so the warm blood from their heart passes by the cold blood from their appendages to warm it up, reducing even further the cold blood coming into their main body and cooling their core temperature. Both of these adaptations may reduce heat loss to 2-6% of total heat loss compared to 19-48%.</p>
            <br>
            <p>Q1: What is more important: appendage temperature or core body temperature? Why?</p>
            <p>Q2: Reflect on why these adaptations are important for king penguins in their habitat.</p>
            <br>
            <p><img src="/images/king-penguins-hypothermic.jpg" style="width:50%; margin-top:75px"></p>
            <p>King penguins, depending on how long they stay in cold waters, can become partially or fully hypothermic. A penguin is only partially hypothermic if only it's appendages are at a low temperature, but it keep a normal core temperature. A penguin is fully hypothermic if it's core temperature is also reduced.</p>
            <br>
            <p>Q3: Why are penguin feet and flippers not more insulated to keep them warmer?</p>
            <br>
            <p>This question brings one main reason why appendages are not better insulated. When king penguins are on land for a long time, there is a possibility of overheating. This concern is mitigated by penguin flippers acting as "thermal windows." Thermal windows allow greater heat exchange with the environment than other body structures. Little heat escapes from a penguin's trunk, but they are able to cool down using their flippers and feet. By exposing greater parts of their flippers, king penguins are able to finely control their core body temperature.</p>
            <br>
            <p>Q4: Think about and explain how king penguins are also able to control their core body temperature using their feet.</p>

            <p><img src="/images/king-penguins-thermoregulation.jpg" style="width:50%; margin-top:75px"></p>
            <p>Q5: Noting the differences in position between the thermal windows (flippers and feet) of these two penguins, which penguin is warming up and which penguin is cooling down? What informs your decision?</p>
          </div>
        </div>
      </div>
    </section>

 <section class="ftco-section-parallax">
    <div class="parallax-img d-flex align-items-center">
      <div class="container">
        <div class="row d-flex justify-content-center">
          <div class="col-md-12 text-center heading-section heading-section-white ftco-animate">
           <header>
              <h2 class="h1">Why is using thermal imagery is useful in understanding penguin behavior?</h2>
            </header> 
            <p>An infrared camera is able to, using the radiation emitted by objects, calculate the surface temperature of everything in the frame. It's important to note that it can only observe surface temperatures, and not the core temperatures of, for example, large mammals. You can learn more about how thermal cameras work on our Science page.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="ftco-section-featured ftco-section-featured-2 ftco-animate">
      <div class="container-fluid" data-scrollax-parent="true">
        <div class="row d-flex justify-content-center">
          <div class="col-md-10 text-center heading-section ftco-animate">
            <header>
              <h2 class="h1">The Experiment</h2>
            </header>
            <p>Researchers wanted to study how penguins warmed back up after long foraging trips. They decided to use FLIR thermal imaging cameras to study these processes. Due to a penguin's thick coat, the thermal camera cannot identify a penguins core temperture, only it's surface temperature. However, researchers could study  how penguins thermoregulate using their flippers as thermal windows.</p>
            <p>Researchers were particularly interested in this question: Do penguins which are partially hypothermic warm up differently than penguins that are fully hypothermic? Do partially and fully hypothermic penguins stop vasoconstriction at different times when warming up?</p>
            <br>
            <p>Q6: What is your hypothesis?</p>
        </div>
      </div>
    </section>

    <section class="ftco-section-parallax">
    <div class="parallax-img d-flex align-items-center">
      <div class="container">
        <div class="row d-flex justify-content-center">
          <div class="col-md-12 text-center heading-section heading-section-white ftco-animate">
           <header>
              <h2 class="h1">The Results</h2>
            </header> 
            <p><img src="/images/king-penguins.jpg" style="width:50%"></p>
            <p><small>
              Thermal images of a fully hypothermic king penguin flipper and breast as it rewarms after its return from the sea. At the upper left, you can see the time since it left the sea, the average flipper temperature, and the average breast temperature.
            </small></p>
            <br>
            <p>Q7: How do the temperatures of the flipper and breast differ at the beginning?</p>
            <p>Q8: What is the last part of the penguin's body to warm? Why do you think this is?</p>\
            <p><img src="/images/king-penguins-chart.jpg" style="width: 50%; margin-top:75px;"></p>
            <p><small>Mean (with standard error bars) temperature of king penguin flippers, as a function of time on land. Fully hypothermic birds are represented by filled squares and solid lines; partially hypothermic birds are represented by light squares and dashed lines.<br>(Note: Edited from original by removal of wild-colony and year-one lines.)</small></p>
            <br>
            <p>Q9: What differences do you notice between the fully and partially hypothermic populations? (Note: Look at when the temperature of the flippers begin to increase)</p>
            <br>
            <p>The researchers noted that there is a 5-minute delay to flipper warming in fully hypothermic penguins; there is no delay to flipper warming in partially hypothermic penguins. Why might that be? One possibility is that core temperature warming took precedence over appendage warming. Researchers posit that the hypothermic penguins continued to vasoconstrict their appendages to focus on raising their core temperature (during the first 5 minutes represented in the graph), then, once their internal core temperature was back to normal, they ended vasoconstriction to allow their appendages to begin warming.</p>
            <br>
            <p>Q10: Consider why king penguins would have adapted to warm up this way. What benefits does it offer to regain normal core temperature before addressing appendage hypothermia?</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="ftco-section-featured ftco-section-featured-2 ftco-animate">
      <div class="container-fluid" data-scrollax-parent="true">
        <div class="row d-flex justify-content-center">
          <div class="col-md-10 text-center heading-section ftco-animate">
            <header>
              <h2 class="h1">Thank you!</h2>
            </header>
            <p>Are you a teacher, student, or independent learner who went through this educational resource on King penguins? Let us know how we did using the "Get in touch" button at your top right. We would love to hear how to improve our resources!</p>
        </div>
      </div>
    </section>


 
  <script>function initMap() {};
      gsap.set('svg', {
        visibility: 'visible'
        })
  </script>
</body>
