<head>
  <meta name="description" content="Koala tree-hugging thermoregulation education">
</head>

<body>
  <!-- START nav -->
  <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
    <div class="container">
      <a class="navbar-brand" href="/"><img src="/images/logo.png" height="75px"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="oi oi-menu"></span> Menu
      </button>

      <div class="collapse navbar-collapse" id="ftco-nav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
          <li class="nav-item"><a href="/about" class="nav-link">About</a></li>
          <li class="nav-item"><a href="/science" class="nav-link">The Science</a></li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="/gallery" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Explore</a>
              <div class="dropdown-menu" aria-labelledby="dropdown04">
                <a class="dropdown-item" href="/map">Map</a>
                <a class="dropdown-item" href="/gallery">Gallery</a>
              </div>
          </li>
          <li class="nav-item"><a href="/upload" class="nav-link">Upload</a></li>
          <li class="nav-item active dropdown">
            <a class="nav-link dropdown-toggle" href="/case-studies" id="dropdown05" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Educational Resources</a>
            <div class="dropdown-menu" aria-labelledby="dropdown04">
              <a class="dropdown-item" href="/king-penguins">Case Study: Penguins</a>
              <a class="dropdown-item" href="/koalas">Case Study: Koalas</a>
              <a class="dropdown-item" href="/pollination">Case Study: Pollination</a>
            </div>
          </li>
          <li class="nav-item cta"><a href="mailto:huckley@gmail.com" class="nav-link"><span>Get in touch</span></a></li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- END nav -->
    
  <!-- START headline -->
  <div class="hero-wrap js-fullheight">
    <div class="overlay">
    </div>
    <div class="container">
      <div class="row no-gutters slider-text align-items-center justify-content-center" data-scrollax-parent="true">
        <div class="col-md-8 ftco-animate text-center" data-scrollax=" properties: { translateY: '70%' }">
          <h1 class="mb-4" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><b>Case Study: Koalas</b></h1>
          <p style="color: white;">Adapted from <u><a style="color: white;" href="https://royalsocietypublishing.org/doi/full/10.1098/rsbl.2014.0235">Briscoe et al. 2014</a></u></p>
        </div>
      </div>
      <div class="arrow"></div>
    </div>
  </div>
  <!-- END headline -->
  
  <section class="ftco-section-featured ftco-section-featured-2 ftco-animate">
      <div class="container-fluid" data-scrollax-parent="true">
        <div class="row d-flex justify-content-center">
          <div class="col-md-10 text-center heading-section ftco-animate">
            <p><img src="/images/koalas.jpg" style="width:50%;"></p>
            <br>
            <header>
              <h2 class="h1">How Koalas Regulate Their Temperature</h2>
            </header>
            <p>During the hot months, species have to find ways to avoid overheating. Many species use cool <i>microclimates</i>, which are areas of a habitat that have a different environmental conditions (like being cooler, or less humid). Animals can select microclimates to cool down by moving into the shade, or burrowing underground. This ability to <i>behaviorally thermoregulate</i> (the ability of an animal to control its temperature via behavioral choices) is becoming more important in the face of climate change, which is likely to increase extreme heat events.</p>
            <p>Koalas (<i>Phascolarctos cinereus</i>) are an arboreal marsupial. Restricted to tree-level, koalas are unable to exploit many commonly used microclimates for cooling. Because koalas don't make dens or seek shade at ground level, they rely instead on a specific type of <i>behavioral thermoregulation</i> -- changing their body posture to conserve or lose heat. One of the most commonly used examples of behavioral thermoregulation is lizards basking in the sun on a rock to warm up: they maximize heat gain from the sun and heat gain from the warm rock beneath them while reducing heat loss from wind by flattening themselves.
            </p> 
            <br>
            <p>Q1: Think of some ways that humans change their posture to cool down or warm up.</p>
            <br>
            <p>Researchers in Briscoe et al. 2014 wanted to study the ways koalas cool down in the trees during hot Australian temperatures.</p>
            <p>Koalas have been noticed hugging tree trunks and branches in hot weather, and this novel behavior is the focus of the experiment.</p>
            <br>
            <p>Q2: In what ways do you hypothesize tree-hugging might regulate the temperature of koalas?</p>
          </div>
        </div>
      </div>
    </section>

 <section class="ftco-section-parallax">
    <div class="parallax-img d-flex align-items-center">
      <div class="container">
        <div class="row d-flex justify-content-center">
          <div class="col-md-12 text-center heading-section heading-section-white ftco-animate">
           <header>
              <h2 class="h1">Why is using thermal imagery is useful in understanding koala behavior?</h2>
            </header> 
            <p>An infrared camera is able to, using the radiation emitted by objects, calculate the surface temperature of everything in the frame. It's important to note that it can only observe surface temperatures, and not the core temperatures of, for example, large mammals. You can learn more about how thermal cameras work on our Science page.</p>
            <p>In this experiment, researchers were able to use thermal imagery to find the surface temperatures of both the koalas and the trees they hug.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="ftco-section-featured ftco-section-featured-2 ftco-animate">
      <div class="container-fluid" data-scrollax-parent="true">
        <div class="row d-flex justify-content-center">
          <div class="col-md-10 text-center heading-section ftco-animate">
            <header>
              <h2 class="h1">The Experiment</h2>
            </header>
            <p>Researchers tracked koalas in summer and winter. For each data point, they recorded koala posture and tree species, along with the air and tree temperatures within 0.5 meters of the koala. They also took a picture of each koala with a thermal camera, to obtain the koala's and tree's temperatures.</p>
            <p>With this data, researchers could then use an energy (heat) budget model to estimate how much heat koalas can lose when tree-hugging.</p>
        </div>
      </div>
    </section>

    <section class="ftco-section-parallax">
    <div class="parallax-img d-flex align-items-center">
      <div class="container">
        <div class="row d-flex justify-content-center">
          <div class="col-md-12 text-center heading-section heading-section-white ftco-animate">

           <header>
              <h2 class="h1">The Results</h2>
            </header> 

            <p>First, the researchers looked into what postures koalas tended to be in during mild and hot temperatures.</p>
            <p><img src="/images/koalas-posture.jpeg" style="width:50%"></p>
            <p><small>
              Postures of koalas during mild (grey bars) and hot (black) temperatures. Postures go from (left) least surface contact with the tree to (right) most surface contact with the tree; in other words, from least to most tree-hugging. Scale is measure in proportions, so the sum of the grey bars = 1 = 100% koalas on mild days, and the sum of the black bars = 1 = 100% of koalas on hot days. (Note: .1 proportion = 10% of koalas)
            </small></p>
            <br>
            <p>Q3: What patterns do you see in this data?</p>
            <br>
            <p>Researchers found that koalas tree-hug more in hot temperatures than in mild temperatures. They found a relationship between heat and tree-hugging behavior in koalas.</p>
            <br>
            <p>Researchers then looked through the thermal images they took of tree-hugging koalas.</p>
            <p><img src="/images/koalas-a.jpeg" style="width: 50%; margin-top:75px;"></p>
            <p><small>
              Thermal image of a koala hugging the cool lower limb of a tree, a posture often observed during hot weather.
            </small></p>
            <p>Q4: Estimate the temperature difference between the koala and the tree.</p>
            <p>Q5: Estimate the temperature difference between the tree and the surrounding air temperature.</p>
            <br>
            <p>Researchers found that the major tree species were significantly cooler than air temperatures. Koalas press against the cool surface of trees like humans flip a pillow to lay on the cool side on summer nights.</p>
            <p><img src="/images/koalas-tree.jpg" style="width: 50%; margin-top:75px;"></p>
            <p><small>
              The parts of a tree, used in the following figure.
            </small></p> 
            <p><img src="/images/koalas-b.jpeg" style="width: 50%; margin-top:75px;"></p>
            <p><small>
              (Tree surface temperature - air temperature) of the base, trunk, branches, and canopy of the four main tree species (<i>Acacia mearnsii, Eucalyptus obliqua, Eucalyptus ovata, Eucalyptus viminalis</i>) in this experiment.
            </small></p>
            <br>
            <p>Q6: Describe the temperature difference between the base and trunk vs the branches and canopy of the trees. Hypothesize the reason(s) behind this temperature change.</p>
            <p>Q7: During extreme heat events, where and on what tree species would you expect to see koalas?</p>
            <br>
            <p>Most likely, the tree trunk and base are cooler than the canopy due the canopy providing shade to the lower parts of a tree. Resulting from this, koalas were observed on the main trunks of trees much more frequently during hot weather (65%) than during mild weather (30%). Researchers found that as air temperature increased, koalas moved lower in trees.</p>
            <p>The researchers also found that koalas significantly increased their use of <i>Acacia mearnsii</i> from 5% in mild temperatures to 29% in hot temperatures. This is most significant due to <i>Acacia mearnsii</i> being a non-food tree for koalas. This is important for conservation of wild habitat and zoo habitat: a suitable habitat for koalas includes non-food trees such as <i>Acacia mearnsii</i> for thermoregulation during extreme heat. A habitat comprised of <i>Eucalyptus obliqua</i> only would be unsuitable: providing food but  lacking crucial arboreal cooling.</p>
            <p><img src="/images/koalas-c.jpeg" style="width: 50%; margin-top:75px;"></p>
            <p><small>
              The amount of heat (W) koalas still need to lose to maintain a normal temperature differs with (grey) and without (black) tree-hugging behavior on an Acacia mearnsii tree on a hot day. The required heat loss is estimated using an energy budget model that accounts for heat gains and losses. Watts (W) are a measure of energy (in this case, heat) transfer over time. We can see that tree-hugging keeps koalas cooler. 
            </small></p>
            <br>
            <p>Q8: Is tree-hugging a successful heat-loss strategy for koalas?</p>
            <br>
            <p>This study found evidence of substantial heat loss from tree-hugging behavior. In fact, the researchers found that tree-hugging could reduce or event prevent the need for evaporative cooling (sweating in humans, panting in koalas). Evaporative cooling has limited effectiveness and koalas can easily become dehydrated if they have to release a lot of heat through panting. The researchers estimated that required evaporative heat loss (required panting) for a tree-hugging koala in an <i>Acacia mearnsii</i> tree was less than half that of a koala not tree-hugging.</p>
            <br>
            <p>Q9: How can this study be informative to people helping conserve or living on land populated by koalas?</p>
            <p>Q10: Design an experiment which builds on this study's findings.</p>
            
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="ftco-section-featured ftco-section-featured-2 ftco-animate">
      <div class="container-fluid" data-scrollax-parent="true">
        <div class="row d-flex justify-content-center">
          <div class="col-md-10 text-center heading-section ftco-animate">
            <header>
              <h2 class="h1">Thank you!</h2>
            </header>
            <p>Are you a teacher, student, or independent learner who went through this educational resource on koalas? Let us know how we did using the "Get in touch" button at your top right. We would love to hear how to improve our resources!</p>
            <p><img src="/images/koalas-goodbye.jpg" style="width: 50%; margin-top:75px;"></p>
        </div>
      </div>
    </section>


 
  <script>function initMap() {};
      gsap.set('svg', {
        visibility: 'visible'
        })
  </script>
</body>
