<!DOCTYPE html>
<html>
  <head>
    <title>TrEnCh-IR</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">  
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,400,700,800" rel="stylesheet">
    <link rel="stylesheet" href="stylesheets/css/animate.css">
    <link rel="stylesheet" href="stylesheets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="stylesheets/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="stylesheets/css/magnific-popup.css">
    <link rel="stylesheet" href="stylesheets/css/aos.css">
    <link rel="stylesheet" href="stylesheets/css/ionicons.min.css">
    <link rel="stylesheet" href="stylesheets/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="stylesheets/css/jquery.timepicker.css">
    <link rel="stylesheet" href="stylesheets/css/flaticon.css">
    <link rel="stylesheet" href="stylesheets/css/icomoon.css">
    <link rel="stylesheet" href="stylesheets/css/style.css">
    <link rel="icon" href="https://tattersalllab.files.wordpress.com/2016/08/nightheron.png?w=173">
    <link rel='stylesheet' href='/stylesheets/css/style.css' />
  </head>
  <body>
      {{{body}}}

      <script src="js/jquery.min.js"></script>
      <script src="js/jquery-migrate-3.0.1.min.js"></script>
      <script src="js/popper.min.js"></script>
      <script src="js/bootstrap.min.js"></script>
      <script src="js/jquery.easing.1.3.js"></script>
      <script src="js/jquery.waypoints.min.js"></script>
      <script src="js/jquery.stellar.min.js"></script>
      <script src="js/owl.carousel.min.js"></script>
      <script src="js/jquery.magnific-popup.min.js"></script>
      <script src="js/aos.js"></script>
      <script src="js/jquery.animateNumber.min.js"></script>
      <script src="js/bootstrap-datepicker.js"></script>
      <script src="js/particles.min.js"></script>
      <script src="js/particle.js"></script>
      <script src="js/scrollax.min.js"></script>
      <script src="js/main.js"></script>
      <script src="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js"></script>
  </body>
</html>
