<!DOCTYPE html>
<html>
  <head>
    <title>TrEnCh-IR</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">  
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,400,700,800" rel="stylesheet">
    <link rel="stylesheet" href="stylesheets/css/animate.css">
    <link rel="stylesheet" href="stylesheets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="stylesheets/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="stylesheets/css/magnific-popup.css">
    <link rel="stylesheet" href="stylesheets/css/aos.css">
    <link rel="stylesheet" href="stylesheets/css/ionicons.min.css">
    <link rel="stylesheet" href="stylesheets/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="stylesheets/css/jquery.timepicker.css">
    <link rel="stylesheet" href="stylesheets/css/flaticon.css">
    <link rel="stylesheet" href="stylesheets/css/icomoon.css">
    <link rel="stylesheet" href="stylesheets/css/style.css">
    <link rel="icon" href="https://tattersalllab.files.wordpress.com/2016/08/nightheron.png?w=173">
    <link rel='stylesheet' href='/stylesheets/css/style.css' />
  </head>
  <body>
    <script src="js/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.2/TweenMax.min.js"></script>
    <script src="https://zurb.com/playground/uploads/upload/upload/91/jquery.event.move.js"></script>
    <script src="https://zurb.com/playground/uploads/upload/upload/92/jquery.twentytwenty.js"></script>
    {{{body}}}
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDbjYa0jdX_3XJ29wJE3t1fOigC6myB7J4&callback=initMap" type="text/javascript"></script>
    <script src="js/jquery-migrate-3.0.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/exif-js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.easing.1.3.js"></script>
    <script src="js/jquery.waypoints.min.js"></script>
    <script src="js/jquery.stellar.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/aos.js"></script>
    <script src="js/jquery.animateNumber.min.js"></script>
    <script src="js/bootstrap-datepicker.js"></script>
    <script src="js/scrollax.min.js"></script>
    <script src="js/main.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js"></script>

          <!-- START footer -->
    <footer class="ftco-footer ftco-bg-dark ftco-section">
      <div class="container">
        <div class="row mb-5">
          <div class="col-md">
            <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2">TrEnCh-IR</h2>
              <p>Leveraging thermal images to understand how climate change impacts organisms' body temperatures and thermal stress.</p>
            </div>
          </div>
          <div class="col-md">
            <div class="ftco-footer-widget mb-4 ml-5">
              <h2 class="ftco-heading-2">Quick Links</h2>
              <ul class="list-unstyled">
                <li><a href="/" class="py-2 d-block">Home</a></li>
                <li><a href="/about" class="py-2 d-block">About</a></li>
                <li><a href="/science" class="py-2 d-block">The Science</a></li>
                <li><a href="/map" class="py-2 d-block">Map</a></li>
                <li><a href="/gallery" class="py-2 d-block">Gallery</a></li>
                <li><a href="/upload" class="py-2 d-block">Upload</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md">
             <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2">Contact Information</h2>
              <ul class="list-unstyled">
                <li><a href="https://www.washington.edu/" class="py-2 d-block">University of Washington</a></li>
                <li><a href="http://faculty.washington.edu/lbuckley/" class="py-2 d-block">Buckley Lab</a></li>
                <li><a href="trenchproject.com/" class="py-2 d-block">trenchproject.com</a></li>
                <li><a href="mailto:huckley@gmail.com" class="py-2 d-block">huckley@gmail.com</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md">
            <div class="ftco-footer-widget mb-4">
              <ul class="ftco-footer-social list-unstyled float-md-left float-lft">
                <li><a href="https://github.com/trenchproject"><span class="icon-github"></span></a></li>
                <li><a href="https://www.instagram.com/trenchproject/?hl=en"><span class="icon-instagram"></span></a></li>
              </ul>
              <div class="wrapper">
                <div class="a"></div>
                <div class="b"></div>
                <div class="body">
                  <div class="back"></div>
                  <div class="shading">
                    <div class="shading_back">
                      <div class="stripe1"></div>
                      <div class="stripe2"></div>
                      <div class="stripe3"></div>
                      <div class="stripe4"></div>
                    </div>
                  </div>
                  <div class="eye"></div>
                  <div class="wing"></div>
                </div>
                <div class="leg">
                  <div class="curve1"></div>
                  <div class="main"></div>
                </div>
                <div class="leg_part2"></div>
                <div class="foot"></div>
                <div class="leg2">
                  <div class="curve1"></div>
                  <div class="main"></div>
                </div>
                <div class="leg_part3"></div>
                <div class="small_leg"></div>
                <div class="small_leg small_leg2"></div>
                <div class="circle"></div>
              </div>
            </div>
          </div>
        </div>

        <!-- START copyright -->
        <div class="row">
          <div class="col-md-12 text-center">
            <p>Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a></p>
          </div>
        </div>
        <!-- END copyright -->

      </div>
    </footer>
  </body>
</html>
