<body>
  <!-- START nav -->
  <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
    <div class="container">
      <a class="navbar-brand" href="/"><img src="/images/logo.png" height="75px"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="oi oi-menu"></span> Menu
      </button>

      <div class="collapse navbar-collapse" id="ftco-nav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
          <li class="nav-item"><a href="/about" class="nav-link">About</a></li>
          <li class="nav-item"><a href="/science" class="nav-link">The Science</a></li>
          <li class="nav-item dropdown active">
            <a class="nav-link dropdown-toggle" href="/gallery" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Explore</a>
              <div class="dropdown-menu" aria-labelledby="dropdown04">
                <a class="dropdown-item active" href="/map">Map</a>
                <a class="dropdown-item" href="/gallery">Gallery</a>
              </div>
          </li>
          <li class="nav-item"><a href="/upload" class="nav-link">Upload</a></li>
          <li class="nav-item"><a href="/case-studies" class="nav-link">Case Studies</a></li>
          <li class="nav-item cta"><a href="mailto:huckley@gmail.com" class="nav-link"><span>Get in touch</span></a></li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- END nav -->
    
	<!-- START headline -->
  <div class="hero-wrap js-fullheight">
    <div class="overlay"></div>
    <div class="container">
      <div class="row no-gutters slider-text justify-content-center align-items-center" data-scrollax-parent="true">
        <div class="col-md-10 ftco-animate text-center" data-scrollax=" properties: { translateY: '70%' }">
          <div id="map"></div>  
        </div>
      </div>
    </div>
  </div>

  {{#each this.images}}
    <div class="col-md-3 mb-5 ftco-animate">
        <img id="{{name}}" src="https://{{../accountName}}.blob.core.windows.net/{{../containerName}}/{{name}}" class="hide"></a>
    </div>
  {{/each}}
  <!-- END headline -->

  <script>
    let map;

    $( ".hide" ).hide();

    function initMap() {
      map = new google.maps.Map(document.getElementById("map"), {
        center: { lat: 34.397, lng: -80 },
        zoom: 2,
      });

      $(".hide").each(function( index ) {
        getExif(this);
      });

      function getExif(im) {
        EXIF.getData(im, function() {
          let latTag = EXIF.getTag(this, "GPSLatitude");
          let latRef = EXIF.getTag(this, "GPSLatitudeRef");
          let lonTag = EXIF.getTag(this, "GPSLongitude");
          let lonRef = EXIF.getTag(this, "GPSLongitudeRef");
          lat = latTag[0]+(((latTag[1]*60)+(latTag[2]))/3600);
          lon = lonTag[0]+(((lonTag[1]*60)+(lonTag[2]))/3600);

          if(latRef == "S") lat = 0 - lat;
          if(lonRef == "W") lon = 0 - lon;

          new google.maps.Marker({
            position: { lat: lat, lng: lon },
            map,
            title: lat+","+lon,
          });
        });
      }
    }

  </script>
</body>