<head>
  <meta name="description" content="Bee flower pollination thermal education">
</head>

<body>
  <!-- START nav -->
  <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
    <div class="container">
      <a class="navbar-brand" href="/"><img src="/images/logo.png" height="75px"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="oi oi-menu"></span> Menu
      </button>

      <div class="collapse navbar-collapse" id="ftco-nav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
          <li class="nav-item"><a href="/about" class="nav-link">About</a></li>
          <li class="nav-item"><a href="/science" class="nav-link">The Science</a></li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="/gallery" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Explore</a>
              <div class="dropdown-menu" aria-labelledby="dropdown04">
                <a class="dropdown-item" href="/map">Map</a>
                <a class="dropdown-item" href="/gallery">Gallery</a>
              </div>
          </li>
          <li class="nav-item"><a href="/upload" class="nav-link">Upload</a></li>
          <li class="nav-item active dropdown">
            <a class="nav-link dropdown-toggle" href="/case-studies" id="dropdown05" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Educational Resources</a>
            <div class="dropdown-menu" aria-labelledby="dropdown04">
              <a class="dropdown-item" href="/king-penguins">Case Study: Penguins</a>
              <a class="dropdown-item" href="/koalas">Case Study: Koalas</a>
              <a class="dropdown-item" href="/pollination">Case Study: Pollination</a>
            </div>
          </li>
          <li class="nav-item cta"><a href="mailto:huckley@gmail.com" class="nav-link"><span>Get in touch</span></a></li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- END nav -->
    
  <!-- START headline -->
  <div class="hero-wrap js-fullheight">
    <div class="overlay">
    </div>
    <div class="container">
      <div class="row no-gutters slider-text align-items-center justify-content-center" data-scrollax-parent="true">
        <div class="col-md-8 ftco-animate text-center" data-scrollax=" properties: { translateY: '70%' }">
          <h1 class="mb-4" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><b>Case Study: Bee-flower pollination</b></h1>
          <p style="color: white;">Adapted from <u><a style="color: white;" href="https://elifesciences.org/articles/31262">Harrap et al. 2017</a></u></p>
        </div>
      </div>
      <div class="arrow"></div>
    </div>
  </div>
  <!-- END headline -->
  
  <section class="ftco-section-featured ftco-section-featured-2 ftco-animate">
      <div class="container-fluid" data-scrollax-parent="true">
        <div class="row d-flex justify-content-center">
          <div class="col-md-10 text-center heading-section ftco-animate">
            <p><img src="/images/pollination1.jpeg" style="width:50%;"></p>
            <br>
            <header>
              <h2 class="h1">How bees use heat to find flowers to pollinate</h2>
            </header>
            <p>Many plants need help from insects to move pollen from male flowers to female flowers, a required part of reproduction. Bees often do this job, called pollination. Why do bees do it? Bees actually pollinate by accident. Flowers give bees some food, in the form of nectar. As bees eat the nectar from a male flower, they get some pollen stuck to their fur. Then, when the bee goes to get nectar from a female flower, it rubs off some of this pollen onto the female flower, pollinating it. The bee goes on its merry way with a full belly and without knowing what a valuable service it did for the flowers while it was eating. In this way, many flowers and bees have co-evolved, meaning flowers and bees both change over time to make pollination as easy as possible. Since pollination is beneficial to both flowers and bees, many flowers and bees have co-evolved, meaning that bees have evolved to gather and transport pollen more efficiently (via for example, vibrating flight mussels that dislodge pollen and hairs that collect pollen) and flowers have evolved to attract more or better pollinators.</p> 
            <br>
            <p>Q1: What are some ways flowers might change to be pollinated better?</p>
            <br>
            <p>Plants do many things to attract bees. Some make big flowers, some make smelly flowers, and others make brightly colored flowers.</p> 
            <p><img src="https://c.tenor.com/q4kA4kbVyVQAAAAd/sowegabeekeepersclub-pollinating.gif" style="width:50%; margin-top:75px"></p>
            <p><small>
              Bees pollinating flowers.
            </small></p>
            <br>
            <p>Researchers in Harrap et al. (2017) wanted to see if some flowers are evolved to be hot or cold to attract bees, and they also wanted to see if bees could recognize flowers by these temperature patterns (parts of flowers being hotter or colder than other parts).</p>
            <br>
            <p>Q2: What part of a flower do you think would be much hotter/colder than the rest to attract bees to pollinate?</p>
            <br>
            <p>Something that's imporant to remember: not all flowers are made for bees! Flowers that co-evolved with hummingbirds tend to have their necter at the end of a long tube that only a hummingbird, with its long beak, can reach. It would be a waste of time and energy for a bee to visit that flower, because it would get no necter from it. Therefore, it is important to bees that they can recognize flowers that are made for them.</p>
            <br>
            <p>Q3: How might a flower that evolved to be pollinated by ants (instead of bees) look different?</p>
          </div>
        </div>
      </div>
    </section>

 <section class="ftco-section-parallax">
    <div class="parallax-img d-flex align-items-center">
      <div class="container">
        <div class="row d-flex justify-content-center">
          <div class="col-md-12 text-center heading-section heading-section-white ftco-animate">
           <header>
              <h2 class="h1">Why is using thermal imagery is useful in understanding pollination?</h2>
            </header> 
            <p>An infrared camera is able to, using the radiation emitted by objects, calculate the surface temperature of everything in the frame. You can learn more about how thermal cameras work on our Science page.</p>
            <p>In this experiment, researchers were able to use thermal imagery to find the temperatures across flowers.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="ftco-section-featured ftco-section-featured-2 ftco-animate">
      <div class="container-fluid" data-scrollax-parent="true">
        <div class="row d-flex justify-content-center">
          <div class="col-md-10 text-center heading-section ftco-animate">
            <header>
              <h2 class="h1">The Experiment</h2>
            </header>
            <br>
            <p>Researchers took thermal images of the flowers of 118 plant species to understand the thermal patterns that occur on flowers.</p>
            <br><br>
            <p>Researchers then created a lab experiment to test whether bees can recognize thermal patterns. In one experiment, they made small (40mm) artificial flowers. One artificial flower had a cirle thermal pattern, the other had a bar pattern.</p>
            <p><img src="/images/smallpollination.jpg" style="width:50%; margin-top:75px"></p>
            <p><small>
              Small artificial flowers with a circle pattern (left) and a bar pattern (right).
            </small></p>
            <br>
            <p>In the first series of tests, the researchers put nectar in the circle-patterned flower (reward), and water in the bar-patterned flower (no reward), and tracked whether over time the bees started only going to the circle-patterned artificial flower. In the second series of tests, the researchers put nectar in the bar-patterned flower (reward), and water in the circle-patterned flower (no reward), and tracked whether over time the bees started only going to the bar-patterned artificial flower. In the last series of tests, the researchers turned off both heating units, and tracked what the bees did over time as a control.</p>
            <br>
            <p>In the second lab experiment, they made large (85mm) artificial flowers. One artificial flower had a cross thermal pattern, the other had a bar pattern.</p>
            <p><img src="/images/largepollination.jpg" style="width:50%; margin-top:75px"></p>
            <p><small>
              Large artificial flowers with a bar pattern (left) and a cross pattern (right).
            </small></p>
            <br>
            <p>They repeated the same series of tests used for the small flowers for the large flowers.</p>
        </div>
      </div>
    </section>

    <section class="ftco-section-parallax">
    <div class="parallax-img d-flex align-items-center">
      <div class="container">
        <div class="row d-flex justify-content-center">
          <div class="col-md-12 text-center heading-section heading-section-white ftco-animate">

           <header>
              <h2 class="h1">The Results</h2>
            </header> 

            <p>Here are the results of the thermal images researchers took of many species of flowers:</p>
            <p><img src="/images/pollinationflowers.jpg" style="width:80%"></p>
            <p><small>
              Thermal images (left) and digital images (right) of 15 flower species. 
            </small></p>
            <br>
            <p>Q4: What flowers stick out as having a stong temperature pattern (having some part of the flower much hotter than other parts)?</p>
            <br>
            <p>We can clearly see from these images that some flowers have a large range of temperatures. Others have consistent temperatures. Let's look at a few examples from this figure. <i>Dahlia coccinia</i> (row 1, column 1) and <i>Pelargonium echinatum</i> (row1, column 2), have a consistent temperature and no thermal pattern. In contrast, <i>Bellis perennis</i> (row 1, column 3), has a clear thermal pattern. It's center is almost 5˚C hotter than the edges of the petals. Similarly, <i>Cistus x virguinii</i> (Row 3, column 1), has a hotter center than the edges of the petals. We can also easily see 5 hot spots in it's center, which match the maroon spots on the flower petals. This is a distinguishing characteristic, and could be used by bees to pick out this flower from a meadow. Finally, if we look at <i>Crinum x powellii</i> (row 5, column 1), we can see one petal is warmer than the other four. This petal is the "landing pad," the place bees should land on to easily pollinate. This landing pad being warmer could be a signal to a bee to land in that spot.</p>
            <br>
            <p>Q5: Hypothesize why the plant has a warmer landing pad? Why is it important that the bee land on the landing pad instead of on a different petal?</p>
            <br>
            <p>Flowers might want to specify where a pollinator would land, so the pollinator's weight is on a strong support. Otherwise, the flower might lose some petals or other parts unable to hold a pollinators weight. Another potential reason is that using the landing pad ensure the pollinator picks up some pollen, and if it landed somewhere else, it may be able to take necter without picking up pollen. There are plenty of other potential reasons too!</p>
            <p><img src="https://live.staticflickr.com/8035/7999759522_74e693fa13_b.jpg" style="width:50%; margin-top:75px"></p>
            <p><small>
              Bee standing on "landing pad" petal while pollinating.
            </small></p>
            <br>
            <p>Q6: What do you think makes some parts of a flower hotter than other parts? (Think of shape, color, wind, etc)</p>
            <br>
            <p>Researchers have previously found that bees can sense temperature differences of 2˚C and over. Of the flowers photographed in this study, 65 species (55%) had thermal patterns that bees would be able to sense. The average temperature difference in these 65 species was 4.89°C.</p>
            <br>
            <p>Once the researchers found that plenty of flowers have thermal patterns, they wanted to test whether bees use the thermal patterns. They first performed the tests for small flowers described in the 'Experiment' section of this page, and the results were as follows:</p>
            <br>
            <p><img src="/images/pollinationsmall.jpg" style="width:50%"></p>
            <p><small>
              "Learning curve of bees visiting small artificial flowers." Foraging success of bees visiting small artifical flowers over number of flower visits. Dashed line indicates 50% success rate (visits each artifical flower equally). Black line indicates control group (no flower had a reward = should be near 50%). Blue line indicates foraging success when the bar thermal pattern had a reward and the orange line indicates foraging success when the circle thermal pattern had a reward.
            </small></p>
            <br>
            <p>The way we can understand this figure is: "if bees were able to learn that one thermal pattern has a reward, and the other thermal pattern doesn't, the blue and orange lines would both increase above 50%." This is because as the bees visited the flower with a reward and and the flower without a reward, they learned which thermal pattern had the reward, and so they began to visit that one more. From the figure, we see this is true. Both the blue and orange lines increase as bees visit the flowers. Thus, we can see that the bees were able to (1) recognize the thermal patterns and (2) make decisions based on the thermal patterns.</p>
            <p></p>
            <p>The researchers then repeated their tests using large flowers.</p>
            <p><img src="/images/pollinationlarge.jpg" style="width:50%; margin-top:75px"></p>
            <p><small>
              "Learning curve of bees visiting large artificial flowers." Foraging success of bees visiting large artifical flowers over number of flower visits. Black line indicates control group (no flower had a reward = should be near 50%). Blue line indicates foraging success when the bar thermal pattern had a reward and the orange line indicates foraging success when the cross thermal pattern had a reward.
            </small></p>
            <br>
            <p>We can understand this figure the same way as the previous figure. Again, we see the blue and orange lines increase as bees visit the large flowers. We can see that the bees were able to (1) recognize the thermal patterns and (2) make decisions based on the thermal patterns in large flowers.</p>
            <br>
            <p>From this study, researchers now know that thermal patterns on flowers can be sensed and used by pollinators. Bees are able to tell not only temperature changes, but the specific patterns of the temperature on the flower! They use this sense, and their other senses, to forage through the meadow for the best flowers to visit.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="ftco-section-featured ftco-section-featured-2 ftco-animate">
      <div class="container-fluid" data-scrollax-parent="true">
        <div class="row d-flex justify-content-center">
          <div class="col-md-10 text-center heading-section ftco-animate">
            <header>
              <h2 class="h1">Thank you!</h2>
            </header>
            <p>Are you a teacher, student, or independent learner who went through this educational resource on bee-flower pollination? Let us know how we did using the "Get in touch" button at your top right. We would love to hear how to improve our resources!</p>
            <p><img src="https://cdn.uanews.arizona.edu/s3fs-public/styles/uaqs_large/public/story-images/Bombus%20Kent%20McFarland_crop.jpg?itok=xaRt2QbE" style="width: 50%; margin-top:75px;"></p>
        </div>
      </div>
    </section>


 
  <script>function initMap() {};
      gsap.set('svg', {
        visibility: 'visible'
        })
  </script>
</body>
