<body>
  <!-- START nav -->
  <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
    <div class="container">
      <a class="navbar-brand" href="/"><img src="/images/logo.png" height="75px"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="oi oi-menu"></span> Menu
      </button>

      <div class="collapse navbar-collapse" id="ftco-nav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
          <li class="nav-item"><a href="/about" class="nav-link">About</a></li>
          <li class="nav-item active"><a href="/science" class="nav-link">The Science</a></li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="/gallery" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Explore</a>
              <div class="dropdown-menu" aria-labelledby="dropdown04">
                <a class="dropdown-item" href="/map">Map</a>
                <a class="dropdown-item" href="/gallery">Gallery</a>
              </div>
          </li>
          <li class="nav-item"><a href="/upload" class="nav-link">Upload</a></li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="/case-studies" id="dropdown05" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Educational Resources</a>
            <div class="dropdown-menu" aria-labelledby="dropdown04">
              <a class="dropdown-item" href="/king-penguins">Case Study: Penguins</a>
              <a class="dropdown-item" href="/koalas">Case Study: Koalas</a>
              <a class="dropdown-item" href="/pollination">Case Study: Pollination</a>
            </div>
          </li>
          <li class="nav-item cta"><a href="mailto:huckley@gmail.com" class="nav-link"><span>Get in touch</span></a></li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- END nav -->
    
	<!-- START headline -->
  <div class="hero-wrap js-fullheight">
    <div class="overlay"></div>
    <div class="content"></div>
    <div class="container">
      <div class="row no-gutters slider-text align-items-center justify-content-center" data-scrollax-parent="true">
        <div class="col">
          <div class="sun"></div>
          <div class="cloud"></div>
        </div>
        <div class="col ftco-animate text-left" data-scrollax=" properties: { translateY: '70%' }">
          <h1 class="mb-4" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><b>The Science</b></h1>
          <p style="color: white;"><small>Source: <a style="color: white;" href="https://www.sciencedirect.com/science/article/pii/S1095643316300435"><u>Glenn Tattersall</u></a></small></p>
        </div>
      </div>
      <div class="arrow"></div>
    </div>
  </div>
  <!-- END headline -->

  <!-- START what do they tell us -->
    <section class="ftco-section-featured ftco-section-featured-2 ftco-animate">
      <div class="container-fluid" data-scrollax-parent="true">
        <div class="row d-flex justify-content-center">
          <div class="col-md-10 text-center heading-section ftco-animate">
            <header>
              <h2 class="h1">What does an thermal image tell us?</h2>
            </header>
            <p>
              An infrared camera is able to, using the radiation emitted by objects,
              calculate the surface temperature of everything in the frame. It's important to note 
              that it can only observe surface temperatures, and not the core temperatures of, for 
              example, large mammals. The temperature is shown on the image through the color palette. 
            </p>
            <br>
            <div class="row d-flex align-items-center">
              <div class="col">
                <img width="100%" src="/images/science_1.jpg"/>
              </div>
              <div class="col text-center align-items-center">
                <p>
                  The thermal image on the left depicts a lizard basking. Lizards bask as a way to increase
                  their body temperature above that of the surrounding air temperature. We note how effective
                  basking is, as the lizard's temperaure is around 35˚C, while the rock is around 25˚C. If the 
                  heat isn't coming from the rock, where's it coming from? Generally, basking increases the 
                  amount of heat coming from solar radiation and decreases heat loss from convection (wind).
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- END what do they tell us -->

  <!-- START uses of thermal imaging -->
  <section class="ftco-section-parallax">
    <div class="parallax-img d-flex align-items-center">
      <div class="container">
        <div class="row d-flex justify-content-center">
          <div class="col-md-12 text-center heading-section heading-section-white ftco-animate">
            <header>
              <h2 class="h1">Thermal Imaging in Physiology</h2>
            </header>
            <p>
              We highlight examples of how thermal images have been used to study organismal physiology 
              and its dependence on environmental conditions.
            </p>
            <p>
              Thermal imaging has been used to study issues including temperature preferences and the influence
              of aggregation on thermoregulation. An thermal imaging study of sea star thermoregulation 
              (Pincebourde et al. 2009) found they accumulate water at high-tide to slow their 
              temperature change when exposed at low-tide. Thermal imaging has also been used to study whether
              incubation temperatures affect gecko upper and lower preferred temperatures (it does, 
              Blumberg et al. 2002). Another application of thermal imaging finds temperature differences among
              appendages: bat wings, due to their large surface area, remain near ambient 
              temperatures while bat body temperature rises during flight (Lancaster et al. 1997).
            </p>
            <p>
              <br>
              <img class="col-md-7" src="https://ars.els-cdn.com/content/image/1-s2.0-S1095643316300435-gr8.jpg"/>
            </p>
            <p><small>
              Assessing thermal preference in lizards within a thermal gradient (Khan et al. 2010).
            </small></p><br>
            <p>
              Thermal imaging can also be used to study evaporative cooling (cooling from a moist surface). 
              Humans are well acquainted with evaporative cooling, which happens while sweating. Reptiles have been 
              found to regulate their breathing patterns to control their head and brain temperatures through evaporative 
              cooling (Tattersall et al. 2006a).
            </p>
            <p>
              <br>
              <img class="col-md-7" src="https://ars.els-cdn.com/content/image/1-s2.0-S1095643316300435-gr10.jpg"/>
            </p>
            <p><small>
              A frog with moist skin (A) being exposed to a gust of air and (B) minutes later returning to normal 
              temperatures after avaportative cooling has ceased (Tattersall, 2016; Tattersall et al., 2006b; Tattersall et al., 2004).
            </small></p><br>
            <p>
              One application of thermal imaging for endotherms is estimating the effects of insulation (typically fur and feathers). 
              An endotherm with a thick insulating cover should exhibit cooler surface temperatures which are closer
              to ambient temperature. Prior to shearing insulating fiber, surface temperatures of a llama's normal 15cm thick pelage 
              was ~26 °C, compared to surface temperatures of ~33 °C when the fiber was clipped to 1 cm thick (Gerken, 1997).
            </p>
            <br>
            <p>
              <img class="col-md-7" src="https://ars.els-cdn.com/content/image/1-s2.0-S1095643316300435-gr13.jpg"/>
            </p>
            <p><small>
              Surface temperature of the pelage of endotherms reveals differences in insulation. Panel 
              A is a thermal image of two dogs (Australian Shepherds) outside at 0 °C. The left dog has 
              a congenital lack of undercoat fur and has surface temperatures ~4 °C warmer than the dog on the right 
              with a thick insulating coat. The horse in panel B has had fur clipped in places, revealing 
              surface temperatures that are higher and approaching body temperature.
            </small></p><br>
            <p>
              Thermal imaging has vast potential in the field of physiology. We hope to encourage greater use of Thermal imaging to see 
              how organisms experience their thermal environment.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
 <!-- END uses of thermal imaging -->

  <!-- START lets talk heat flux -->
    <section class="ftco-section-featured ftco-section-featured-2 ftco-animate">
      <div class="container-fluid" data-scrollax-parent="true">
        <div class="row mt-5 d-flex justify-content-center">
          <div class="col-md-8 text-center heading-section ftco-animate">
            <header>
              <h2 class="mb-10">How is heat transferred?</h2>
            </header>
            <img class="col-md-4" src="/images/science_2.jpg"/><br>
            <br>
            <h2 class="h1"><strong class="px-3">Radiation</strong></h2>
            <p>A heat transfer between two substances that are not in contact. The largest source 
              of heat in most cases is the absorption of solar radiation. Animals radiate energy 
              at a rate proportional to their body temperature (thermal radiation).
            </p>
            <br>
            <h2 class="h1"><strong class="px-3">Conduction</strong></h2>
            <p>A heat transfer involving two objects in physical contact with each other. Organisms 
              can alter rates of conduction by changing their amount of contact with surfaces.
            </p>
            <br>
            <h2 class="h1"><strong class="px-3">Convection</strong></h2>
            <p>A heat transfer between a solid and a liquid or a gas. Wind and water speeds influence 
              how much heat organisms exchange with their environments via convection.
            </p>
            <br>
            <h2 class="h1"><strong class="px-3">Evaporation</strong></h2>
            <p>A loss of heat due to the liquid water changing into gaseous water. Evaporation occurs 
              when a fraction of water molecules have sufficient heat energy to escape a liquid. 
              Organisms are cooled by evaporation until an equilibrium is reached where the air 
              supplies the amount of heat removed by the evaporating water.
            </p>
          </div>
        </div>
      </div>
    </section>
    <!-- END lets talk heat flux -->

    <!-- START what am I looking at -->
    <section class="ftco-section-parallax">
    <div class="parallax-img d-flex align-items-center">
      <div class="container">
        <div class="row d-flex justify-content-center">
          <div class="col-md-12 text-center heading-section heading-section-white ftco-animate">
            <header>
              <h2 class="mb-10">Why use thermal imaging for thermal ecology?</h2>
            </header>
            <h2 class="h1"><strong class="px-3">#1: non-invasive</strong> and <strong class="px-3">#2: non-contact</strong></h2>
            <p>Thermal information can be assessed from a distance, without handling of organisms or surgical interventions.
              Surgery and handling often affect the temperature of an organism due to stress. Another benefit is the ability to 
              capture thermal readings of the environment around an organism, allowing comparison of temperature differences. 
              A disadvantage, however, of using thermal imaging is the inability to measure an organism's core temperature, 
              as infrared imaging only allows readings of surface temperature. Application of IRT to animal physiology are 
              thus limited to small ectotherms or must be paired with biosphysical models to estimate core body temperature.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
 <!-- END what am I looking at -->



    <!-- START the math -->
  <div class="ftco-section bg-light">
    <div class="container">
      <div class="row justify-content-center mb-5 pb-5">
        <div class="col-md-10 text-center heading-section ftco-animate">
          <h2 class="h1">Thermograms</h2>
          <p>
            A thermogram is simply an image, impression, or visual representation of a scene's temperature. It is 
            the visual rendering of the energy emitted, transmitted, and reflected by an object and its environment.
            All objects emit electromagnectic radiation from the random collision of matter, termed "radiant flux."
            There is a strong positive relationship between an objects termpature and it's radiant flux, allowing
            accurate radiometers to estimate object temperature. This calculation, however, depends on the emissivity
            of the objects pictured.
          </p>
          <br>
          <hr>
          <br>
          <h2 class="h1">Blackbodies and Radiation</h2>
          <p>
            An ideal blackbody is an object which absorbs all electromagnetic radiation at all wavelengths. It emits 
            energy at a maximum potential rate per unit area and unit wavelength at any temperature. No real objects 
            are true blackbodies, however this idealized object gives a baseline for comparisons. A blackbody's spectral
            radiance, I, at a given wavelength and temperature is calculated using Planck's Law (h is the Planck constant, 
            k is the Boltzmann constant, and c is the speed of light): 
          </p>
          <p>
            <img src="http://latex.codecogs.com/svg.latex?I(\lambda,T)=\frac{2hc^2}{\lambda^5}*\frac{1}{e^\frac{hc}{\lambda kT}-1}"/>.
          </p>
          <p>
            This equation gives a resulting curvilinear relationship. 
          </p>
          <p>
            <br>
            <img class="col-md-7" src="https://ars.els-cdn.com/content/image/1-s2.0-S1095643316300435-gr1.jpg"/>
            <br>
          </p>
          <p>
            The peak occurs at a wavelength which we can use to solve
            for blackbody temperature using Wein's law (b is Wein's displacement constant):
          </p>
          <p>
            <img src="http://latex.codecogs.com/svg.latex?\lambda_{max}=\frac{b}{T}"/>
          </p>
          <p>
            At a given wavelength, for biological surfaces, incoming radiation is either reflected or absorbed.
            An ideal blackbody, which by definition absorbs all incoming radiation, emits radiation equivalent 
            to the amount of radiation absorbed.This is also means emittance and reflectance are inversely 
            related, or as Kirschoff's radiation law is summarized: “good absorbers are good emitters and 
            good reflectors are poor emitters.” A blackbody represents the upper limit of radiation emitted.
          </p>
          <p>
            Stefan-Boltzmann's Law shows the relationship between the absolute temperature of the blackbody (T)
            and the blackbody's radiant flux (Mb) as (given sigma as the Stefan-Boltzmann constant and A as the 
            surface area):  
          </p>
          <p>
            <img src="http://latex.codecogs.com/svg.latex?M_b=A \sigma T^4"/>
          </p>
          <p> 
            Now that we have data on blackbodies, the upper limit of emitted radiation, we can factor in emissivity,
            which is the ratio of the body's radiant flux to that of a blackbody at the same temperature:
          </p>
          <p>
            <img src="http://latex.codecogs.com/svg.latex?\epsilon=\frac{M_r}{M_b}"/>
          </p>
          <p>
            Emissivity is assumed for biological tissues as > 0.95.
          </p>
          <p>
            Since natural object do not behave exactly as blackbodies, background reflectance must be factored in.
            Since reflectance = 1 - emittance, the absolute temperature (often air temperature) has a maximum error
            of 1 - emittance, or about 5%. Atmospheric conditions (humidity) and distance from the imaged object also 
            impact the radiant energy detected. The longer the distance, the greater the atmospheric interference
            due to the absorption of radiant energy by the water moledules. If a window is between the sensor and the 
            object, energy may be lost in transmission through the window, requiring estimation of tranmission levels
            of the window materials and discouraging window use if possible. Finally, camera specs and stability 
            are factored into calibration of the signal based on the camera used.
          </p>
          <br>
          <hr>
          <br>
          <h2 class="h1">Signal to temperature</h2>
          <p>
            <br>
            <img class="col-md-7" src="https://ars.els-cdn.com/content/image/1-s2.0-S1095643316300435-gr4.jpg"/>
          </p>
          <br>
          <p>
            The object's signal is first separated from the whole signal (in this case, no transmission window):
          </p>
          <p>
            <img src="http://latex.codecogs.com/svg.latex?s_{obj}=s-s_{refl}-s_{atm}"/>
          </p>
          <p>
            This showcases the need for accurate information on the environmental conditions the image was taken in.
            The calibration of the camera empirically fits coefficients R, B, and F, and along with the signal s can 
            solve for temperature.
          </p>
          <p>
            <br>
            <img src="http://latex.codecogs.com/svg.latex?s=\frac{R}{e^{B/T}-F}"/> ->
            <img src="http://latex.codecogs.com/svg.latex?T=\frac{B}{ln{R/s}+F}"/>
          </p>
        </div>
      </div>
    </div>
  </div>
 <!-- END the math -->



  <script>function initMap() {};</script>

</body>