<body>
  <!-- START nav -->
  <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
    <div class="container">
      <a class="navbar-brand" href="/"><img src="/images/logo.png" height="75px"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="oi oi-menu"></span> Menu
      </button>

      <div class="collapse navbar-collapse" id="ftco-nav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
          <li class="nav-item"><a href="/about" class="nav-link">About</a></li>
          <li class="nav-item"><a href="/science" class="nav-link">The Science</a></li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="/gallery" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Explore</a>
              <div class="dropdown-menu" aria-labelledby="dropdown04">
                <a class="dropdown-item" href="/map">Map</a>
                <a class="dropdown-item" href="/gallery">Gallery</a>
              </div>
          </li>
          <li class="nav-item"><a href="/upload" class="nav-link">Upload</a></li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="/case-studies" id="dropdown05" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Educational Resources</a>
            <div class="dropdown-menu" aria-labelledby="dropdown04">
              <a class="dropdown-item" href="/king-penguins">Case Study: Penguins</a>
              <a class="dropdown-item" href="/koalas">Case Study: Koalas</a>
              <a class="dropdown-item" href="/pollination">Case Study: Pollination</a>
            </div>
          </li>
          <li class="nav-item cta"><a href="mailto:huckley@gmail.com" class="nav-link"><span>Get in touch</span></a></li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- END nav -->
    
	<!-- START headline -->
  <div class="hero-wrap js-fullheight">
    <div class="overlay"></div>
    <div class="container">
      <div class="row no-gutters slider-text align-items-center justify-content-center" data-scrollax-parent="true">
        <div class="col-md-10 ftco-animate text-center" data-scrollax=" properties: { translateY: '70%' }">
          <h1 class="mb-4" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><b>Success</b></h1>
          <p style="color: white;">{{message}}</p>
          <p style="color: white;">If in an acceptable format, your image should appear in the gallery momentarily!</p>
          <p data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><a href="/gallery" class="btn btn-primary btn-outline-white px-5 py-3">Explore the gallery</a></p>
          {{!-- <p style="color: white;">Join our email list for TrEnCh-IR features or updates!</p>
          <form action="#" class="subscribe-form">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Enter email address">
              <button style"background:none;border:none;padding:0;" type="submit" class="form-control" type="submit"><span class="icon icon-paper-plane"></span></button>
            </div>
          </form>
          <small style="color: white;">Email will never be shared or spammed.</small> --}}
        </div>
      </div>
    </div>
  </div>
  <!-- END headline -->
  <script>function initMap() {};</script>
</body>