<body>
  <!-- START nav -->
  <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
    <div class="container">
      <a class="navbar-brand" href="/"><img src="/images/logo.png" height="75px"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="oi oi-menu"></span> Menu
      </button>

      <div class="collapse navbar-collapse" id="ftco-nav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
          <li class="nav-item"><a href="/about" class="nav-link">About</a></li>
          <li class="nav-item"><a href="/science" class="nav-link">The Science</a></li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="/gallery" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Explore</a>
              <div class="dropdown-menu" aria-labelledby="dropdown04">
                <a class="dropdown-item" href="/map">Map</a>
                <a class="dropdown-item" href="/gallery">Gallery</a>
              </div>
          </li>
          <li class="nav-item active"><a href="/upload" class="nav-link">Upload</a></li>
          <li class="nav-item"><a href="/case-studies" class="nav-link">Case Studies</a></li>
          <li class="nav-item cta"><a href="mailto:huckley@gmail.com" class="nav-link"><span>Get in touch</span></a></li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- END nav -->

  <!-- START headline -->
  <div class="hero-wrap js-fullheight">
    <div class="overlay"></div>
    <div class="container">
      <div class="row no-gutters slider-text align-items-center justify-content-center" data-scrollax-parent="true">
        <div class="col-md-10 ftco-animate text-center" data-scrollax=" properties: { translateY: '70%' }">
          
          <form id="upload-form" action="/" method="POST" enctype="multipart/form-data" style="margin-top:15%">
            <div class="row">
            <div class="col">
              <input id="geoLat" name="geoLat" type="text" class="form-control" placeholder="Latitude (decimal degrees)">
              <input id="geoLon" name="geoLon" type="text" class="form-control" placeholder="Longitude (decimal degrees)">
            </div>
            <div class="col">
              <input id="species" name="species" type="text" class="form-control" placeholder="Scientific Name">
              <input id="common" name="common" type="text" class="form-control" placeholder="Common Name">
            </div>
            </div>
            <hr>
            <textarea id="desc" name="desc" cols="30" class="form-control" rows="5" placeholder="Description"></textarea>
            <hr>
            <div class="upload-container" align="left">
              <input id="file-picker" type="file" name="image" accept="image/png, image/jpeg"><hr>
            </div>
            <div><input class="btn btn-primary" class="form-control" type="submit" value="Upload Image"></div>
          </form>
          
          <p style="color: white;" id="message"><b>{{message}}</b></p>
          
          <p style="color: white;">This is an open repository. Your images will be public once you upload them and there is no automated way to remove them.</p>
        </div>
      </div>
    </div>
  </div>
  <!-- END headline -->
  
  <!-- Listener for the image upload form, sends to index.js -->
  <script> 
    document.addEventListener('DOMContentLoaded', () => {
  
      const message = document.getElementById('message');
      const picker = document.getElementById('file-picker');
      const lat = document.getElementById('geoLat');
      const lon = document.getElementById('geoLon');
      const species = document.getElementById('species');
      const common = document.getElementById('common');
      const desc = document.getElementById('desc');
  
      document.getElementById('upload-form').addEventListener('submit', (e) => {
  
        message.innerText = '';
  
        if(!picker.files.length) {
          message.innerText = 'Please select an image to upload.';
          e.preventDefault();
          return false;
        } else if(lat.value < -90 || lat.value > 90){
          message.innerText = 'Latitude must be between -90 and 90 degrees.';
          e.preventDefault();
          return false;
        } else if(lon.value < -180 || lon.value > 180){
          message.innerText = 'Longitude must be between -180 and 180 degrees.';
          e.preventDefault();
          return false;
        } else if(!species.value.length){
          message.innerText = 'Please add species name';
          e.preventDefault();
          return false;
        }
      });
    });
  </script>
</body>


